// Colors
$font: 'Open Sans', sans-serif;

// Colors

$main: #452344;
$second: #B76D68;
$text: #484848;


@mixin fonts($color,$size,$weight,$family: $font) {
   font-family: $family;
   font-size: $size;
   font-weight: $weight;
   color: $color;
}


body {
   margin: 0;
   padding: 0;
}

.left {
   float: left;
}

.right {
   float: right;
}

.logo {
   width: 25px;
   height: 25px;
   overflow: hidden;
   vertical-align: middle;
   img {
      width: 100%;
   }
}

.container {
   margin: 2% 2.5%;
}

.image-card {
   cursor: pointer;
   display: inline-block;
   width: 32%;
   height: 395px;
   overflow: hidden;
   margin: 0.5%;
   img {
      height: 100%;
   }
}

nav {
   .logo, .page-actions {
      display: inline-block;
   }

   .page-actions {
      fieldset {
         border: 1px solid $main; 
         border-radius: 16px;
         padding: 0;
         overflow: hidden;
         input {
            padding: 6px 8px;
            background: transparent;
            border: none;
            &:focus {
               outline: none;
               background: transparent;
            }
            &::placeholder {
               @include fonts(rgba($main,0.5),13px,500);
            }
         }
         button {
            cursor: pointer;
            border: none;
            background: transparent;
            vertical-align: middle;
            i {
               padding: 6px 7px;
               vertical-align: middle;
               color: $main;
            }
            &:hover {
               color: $second;
               background: rgba($main,0.2);
               height: 100%;
            }
         }
      }
   }
}

.hidden {
   display: none;
}

.modal {
   position: fixed;
   top: 0;
   margin: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(#333,0.9);

   .modal-card{
      background-color: #fff;
      width: 60%;
      margin: 8% auto;
      overflow: hidden;
      .modal-image {
         width: 74%;
         overflow: hidden;
         img {
            width: 100%;
         }
      }

      .description {
         float: right;
         margin: 0 1.5%;
         width: 23%;
         h5 {
            margin-top: 20px;
            @include fonts(#333,15px,700);
         }
         p {
            @include fonts(#333,13px,500);
         }

         .top-icons {
            width: 100%;
            color: $main;
            margin: 5% 0;
            vertical-align: middle;
            div {
               display: inline-block;
            }
            .close {
               width: 10%;
               cursor: pointer;
               i {
                  font-size: 20px;
                  text-align: right;
               }
            }
            .clipboard {
               cursor: pointer;
               width: 90%;
               i {
                  padding: 4px;
                  border-radius: 50%;
                  font-size: 18px;
                  text-align: left;
               }
            }
         }
      }
   }
   
}

.filter {
   form {
      div,select{
         display: inline-block;
      }
      select {
         border: 1px solid $main; 
         border-radius: 16px;
         padding: 6px 8px;
         background: transparent;
         &:focus {
            outline: none;
            background: transparent;
         }
         &::placeholder {
            @include fonts(rgba($main,0.5),13px,500);
         }
      }
      option {
         border: none;
         background-color: #fff;
         padding: 2px 4px;
         @include fonts($main,13px,500);
      }
   }
   .filter-label {
      i,p {
         display: inline-block;
      }
      i {
         margin-right: 3px;
         font-size: 13px;
         vertical-align: middle;
      }
      p {
         margin-right: 5px;
         @include fonts($main,13px,600);
      }
   }
}

.link-field {
   opacity: 0;
}

.alert-copied {
   background-color: $main;
   display: none;
   padding: 6px 10px;
   @include fonts(rgba(#fff,0.8),13px,500);
}

.search-message {
   @include fonts(rgba($main,0.8),30px,700);
   span {
      @include fonts($main,30px,700);
   }
}

@media screen and (max-width: 480px) {
   .image-card {
      cursor: pointer;
      display: inline-block;
      width: 48%;
      height: 180px;
      overflow: hidden;
      margin: 0.5%;
      img {
         height: 100%;
      }
   }
   
   nav {
      margin-top: 4%;
   }

   .container {
      margin: 2% 2.5%;
   }

   .filter {
      margin: 3% 2.5%;
      text-align: right;
   }

   .modal {
      position: fixed;
      top: 0;
      margin: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#333,0.9);
   
      .modal-card{
         background-color: #fff;
         width: 80%;
         margin: 40% auto;
         overflow: hidden;
         .modal-image {
            width: 100%;
            overflow: hidden;
            img {
               width: 100%;
            }
         }
   
         .description {
            margin: 0 2%;
            width: 96%;
            h5 {
               margin-top: 20px;
               @include fonts(#333,15px,700);
            }
            p {
               margin-top: 4px;
               @include fonts(#333,13px,500);
            }
   
            .top-icons {
               width: 100%;
               color: $main;
               margin: 2% 0;
               vertical-align: middle;
               div {
                  display: inline-block;
               }
               .close {
                  width: 10%;
                  cursor: pointer;
                  i {
                     font-size: 20px;
                     text-align: right;
                  }
               }
               .clipboard {
                  cursor: pointer;
                  width: 90%;
                  i {
                     padding: 4px;
                     border-radius: 50%;
                     font-size: 18px;
                     text-align: left;
                  }
               }
            }
         }
      }
      
   }

   .search-message {
      @include fonts(rgba($main,0.8),18px,700);
      span {
         @include fonts($main,18px,700);
      }
   }

}

@media screen and (max-width: 768px) {
   .image-card {
      cursor: pointer;
      display: inline-block;
      width: 48%;
      height: 280px;
      overflow: hidden;
      margin: 0.5%;
      img {
         height: 100%;
      }
   }
   
   nav {
      margin-top: 4%;
   }

   .container {
      margin: 2% 2.5%;
   }

   .filter {
      margin: 3% 2.5%;
      text-align: right;
   }

   .top-icons {
      width: 98%;
   }

   .modal {
      position: fixed;
      top: 0;
      margin: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#333,0.9);
   
      .modal-card{
         background-color: #fff;
         width: 80%;
         margin: 40% auto;
         overflow: hidden;
         .modal-image {
            width: 100%;
            overflow: hidden;
            img {
               width: 100%;
            }
         }
   
         .description {
            clear: left;
            margin: 0 2%;
            width: 96%;
            h5 {
               margin-top: 20px;
               @include fonts(#333,15px,700);
            }
            p {
               margin-top: 4px;
               @include fonts(#333,13px,500);
            }
   
            .top-icons {
               width: 100%;
               color: $main;
               margin: 2% 0;
               vertical-align: middle;
               div {
                  display: inline-block;
               }
               .close {
                  width: 10%;
                  cursor: pointer;
                  i {
                     font-size: 20px;
                     text-align: right;
                  }
               }
               .clipboard {
                  cursor: pointer;
                  width: 90%;
                  i {
                     padding: 4px;
                     border-radius: 50%;
                     font-size: 18px;
                     text-align: left;
                  }
               }
            }
         }
      }
      
   }

   .search-message {
      @include fonts(rgba($main,0.8),18px,700);
      span {
         @include fonts($main,18px,700);
      }
   }
}
