{% extends "photos/layout.html" %}
{% load static %}

{% block content %}
   <nav class="container">
      <div class="logo">
         <img src="{% static 'images/logo.png' %}" alt="">
      </div>
      <div class="page-actions">
         form
         <i class="fas fa-search"></i>
      </div>
   </nav>  

   <div class="container images">
      {% for img in images  %}
         <div class="image-card">
            <img src="{{ img.image.url }}" alt="{{ img.image_name }}">
         </div>
      {% endfor %}
   </div>
{% endblock %}
