<div class="modal hidden" id="image-a{{ img.id }}">
   <div class="modal-card">
      <div class="modal-image left">
         <img src="{{ img.image.url }}" alt="">
         <input type="text" value="https://tasweer.herokuapp.com/photos{{ img.image.url }}" id="url-b{{ img.id }}" class="link-field">
      </div>
      
      <div class="description">
         <div class="top-icons">
            <div class="clipboard left">
               <i class="fas fa-clipboard" id="b{{ img.id }}"></i>
               <p class="alert-copied">
                  Link copied!
               </p>
            </div>
            <div class="close right">
               <i class="fas fa-times"></i>
            </div>
         </div>

         <h5>{{ img.image_name }}</h5>
         <p>{{ img.description }}</p>
      </div>
   </div>
</div>