{% extends "photos/layout.html" %}
{% load static %}

{% block content %}
   {% include "photos/nav.html" %}

   {% include "photos/filter.html" %}

   <div class="container">

      {% if images %}
         <h1 class="search-message">Here a some images within the <span>{{ searched }} </span>category.</h1>
         
         {% include "photos/images.html" %}
         
      {% else %}
         <h1 class="search-message">There are no images with a <span>{{ searched }}</span> category.</h1>
      {% endif %}


   </div>

   
{% endblock %}