body {
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  width: 25px;
  height: 25px;
  overflow: hidden;
  vertical-align: middle;
}

.logo img {
  width: 100%;
}

.container {
  margin: 2% 2.5%;
}

.image-card {
  cursor: pointer;
  display: inline-block;
  width: 32%;
  height: 395px;
  overflow: hidden;
  margin: 0.5%;
}

.image-card img {
  height: 100%;
}

nav .logo, nav .page-actions {
  display: inline-block;
}

nav .page-actions fieldset {
  border: 1px solid #452344;
  border-radius: 16px;
  padding: 0;
  overflow: hidden;
}

nav .page-actions fieldset input {
  padding: 6px 8px;
  background: transparent;
  border: none;
}

nav .page-actions fieldset input:focus {
  outline: none;
  background: transparent;
}

nav .page-actions fieldset input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(69, 35, 68, 0.5);
}

nav .page-actions fieldset input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(69, 35, 68, 0.5);
}

nav .page-actions fieldset input::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(69, 35, 68, 0.5);
}

nav .page-actions fieldset input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(69, 35, 68, 0.5);
}

nav .page-actions fieldset button {
  cursor: pointer;
  border: none;
  background: transparent;
  vertical-align: middle;
}

nav .page-actions fieldset button i {
  padding: 6px 7px;
  vertical-align: middle;
  color: #452344;
}

nav .page-actions fieldset button:hover {
  color: #B76D68;
  background: rgba(69, 35, 68, 0.2);
  height: 100%;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.9);
}

.modal .modal-card {
  background-color: #fff;
  width: 60%;
  margin: 8% auto;
  overflow: hidden;
}

.modal .modal-card .modal-image {
  width: 74%;
  overflow: hidden;
}

.modal .modal-card .modal-image img {
  width: 100%;
}

.modal .modal-card .description {
  float: right;
  margin: 0 1.5%;
  width: 23%;
}

.modal .modal-card .description h5 {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.modal .modal-card .description p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.modal .modal-card .description .top-icons {
  width: 100%;
  color: #452344;
  margin: 5% 0;
  vertical-align: middle;
}

.modal .modal-card .description .top-icons div {
  display: inline-block;
}

.modal .modal-card .description .top-icons .close {
  width: 10%;
  cursor: pointer;
}

.modal .modal-card .description .top-icons .close i {
  font-size: 20px;
  text-align: right;
}

.modal .modal-card .description .top-icons .clipboard {
  cursor: pointer;
  width: 90%;
}

.modal .modal-card .description .top-icons .clipboard i {
  padding: 4px;
  border-radius: 50%;
  font-size: 18px;
  text-align: left;
}

.filter form div, .filter form select {
  display: inline-block;
}

.filter form select {
  border: 1px solid #452344;
  border-radius: 16px;
  padding: 6px 8px;
  background: transparent;
}

.filter form select:focus {
  outline: none;
  background: transparent;
}

.filter form select::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(69, 35, 68, 0.5);
}

.filter form select:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(69, 35, 68, 0.5);
}

.filter form select::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(69, 35, 68, 0.5);
}

.filter form select::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(69, 35, 68, 0.5);
}

.filter form option {
  border: none;
  background-color: #fff;
  padding: 2px 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #452344;
}

.filter .filter-label i, .filter .filter-label p {
  display: inline-block;
}

.filter .filter-label i {
  margin-right: 3px;
  font-size: 13px;
  vertical-align: middle;
}

.filter .filter-label p {
  margin-right: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #452344;
}

.link-field {
  opacity: 0;
}

.alert-copied {
  background-color: #452344;
  display: none;
  padding: 6px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.search-message {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgba(69, 35, 68, 0.8);
}

.search-message span {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #452344;
}

@media screen and (max-width: 480px) {
  .image-card {
    cursor: pointer;
    display: inline-block;
    width: 48%;
    height: 180px;
    overflow: hidden;
    margin: 0.5%;
  }
  .image-card img {
    height: 100%;
  }
  nav {
    margin-top: 4%;
  }
  .container {
    margin: 2% 2.5%;
  }
  .filter {
    margin: 3% 2.5%;
    text-align: right;
  }
  .modal {
    position: fixed;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.9);
  }
  .modal .modal-card {
    background-color: #fff;
    width: 80%;
    margin: 40% auto;
    overflow: hidden;
  }
  .modal .modal-card .modal-image {
    width: 100%;
    overflow: hidden;
  }
  .modal .modal-card .modal-image img {
    width: 100%;
  }
  .modal .modal-card .description {
    margin: 0 2%;
    width: 96%;
  }
  .modal .modal-card .description h5 {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #333;
  }
  .modal .modal-card .description p {
    margin-top: 4px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #333;
  }
  .modal .modal-card .description .top-icons {
    width: 100%;
    color: #452344;
    margin: 2% 0;
    vertical-align: middle;
  }
  .modal .modal-card .description .top-icons div {
    display: inline-block;
  }
  .modal .modal-card .description .top-icons .close {
    width: 10%;
    cursor: pointer;
  }
  .modal .modal-card .description .top-icons .close i {
    font-size: 20px;
    text-align: right;
  }
  .modal .modal-card .description .top-icons .clipboard {
    cursor: pointer;
    width: 90%;
  }
  .modal .modal-card .description .top-icons .clipboard i {
    padding: 4px;
    border-radius: 50%;
    font-size: 18px;
    text-align: left;
  }
  .search-message {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgba(69, 35, 68, 0.8);
  }
  .search-message span {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #452344;
  }
}

@media screen and (max-width: 768px) {
  .image-card {
    cursor: pointer;
    display: inline-block;
    width: 48%;
    height: 280px;
    overflow: hidden;
    margin: 0.5%;
  }
  .image-card img {
    height: 100%;
  }
  nav {
    margin-top: 4%;
  }
  .container {
    margin: 2% 2.5%;
  }
  .filter {
    margin: 3% 2.5%;
    text-align: right;
  }
  .top-icons {
    width: 98%;
  }
  .modal {
    position: fixed;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.9);
  }
  .modal .modal-card {
    background-color: #fff;
    width: 80%;
    margin: 40% auto;
    overflow: hidden;
  }
  .modal .modal-card .modal-image {
    width: 100%;
    overflow: hidden;
  }
  .modal .modal-card .modal-image img {
    width: 100%;
  }
  .modal .modal-card .description {
    clear: left;
    margin: 0 2%;
    width: 96%;
  }
  .modal .modal-card .description h5 {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #333;
  }
  .modal .modal-card .description p {
    margin-top: 4px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #333;
  }
  .modal .modal-card .description .top-icons {
    width: 100%;
    color: #452344;
    margin: 2% 0;
    vertical-align: middle;
  }
  .modal .modal-card .description .top-icons div {
    display: inline-block;
  }
  .modal .modal-card .description .top-icons .close {
    width: 10%;
    cursor: pointer;
  }
  .modal .modal-card .description .top-icons .close i {
    font-size: 20px;
    text-align: right;
  }
  .modal .modal-card .description .top-icons .clipboard {
    cursor: pointer;
    width: 90%;
  }
  .modal .modal-card .description .top-icons .clipboard i {
    padding: 4px;
    border-radius: 50%;
    font-size: 18px;
    text-align: left;
  }
  .search-message {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgba(69, 35, 68, 0.8);
  }
  .search-message span {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #452344;
  }
}
/*# sourceMappingURL=style.css.map */